/* Chewy Blue Hex Code #1c49c2 */
body{
    font-family: 'Poppins', sans-serif;
}
.navbar {
    background-color: #1c49c2;
    text-align: center;
}
.container-fluid{
    justify-content: center;
    align-content: center;
}
img{
    width: 10em;
    flex: 1;
}
.btn{
    background-color: #1c49c2;
    border: none;
    border-radius: 0;
    color: white;
}
.btn:hover{
    background-color: #173ea9;
    border-radius: 0;
}
#halloweengif{
    width: 2em;
    height: 2em;
    padding-bottom: 5px;
}
@media (max-width: 450px){
    navbar{
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
    }
    .search{
        width: 100%;
    }
}
